@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-600-normal.woff2') format('woff2'),
  url('./fonts/lato-600-normal.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
